.syntax--source.syntax--js .syntax--meta.syntax--function-call.syntax--method.syntax--without-arguments.syntax--js .syntax--variable.syntax--function.syntax--js {
  color: #82AAFF;
}
.syntax--variable.syntax--language.syntax--this.syntax--js,
.syntax--support.syntax--variable.syntax--dom.syntax--js {
  color: #ffcb6b;
}
.syntax--support.syntax--variable.syntax--property.syntax--dom.syntax--js {
  color: #89DDFF;
}

.syntax--meta.syntax--group.syntax--braces.syntax--curly.syntax--js .syntax--meta.syntax--property.syntax--object.syntax--js .syntax--variable.syntax--other.syntax--object.syntax--js {
  color: #FFEB95;
}
